:host {
  --content-padding: 10px;
}
.content {
  padding: var(--content-padding);
}
app-footer.hidden {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

app-footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: var(--content-padding);
  /* box-shadow: 0px 5px 25px var(--shadow-color); */
  background-color: var(--primary-color);
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  