# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
