.dates-popup {
    padding: 20px;
    min-width: 300px;
    max-width: 400px;
    /* background-color: var(--primary-color) !important;
    color: aliceblue !important; */
    
    /* Material Design Component CSS Custom Properties */
    /* --mdc-filled-text-field-container-color: rgba(255, 255, 255, 0.1);
    --mdc-filled-text-field-label-text-color: aliceblue;
    --mdc-filled-text-field-input-text-color: aliceblue;
    --mdc-protected-button-container-color: var(--accent-color);
    --mdc-protected-button-label-text-color: white; */
    
    /* Calendar icon color */
    /* --mdc-icon-button-icon-color: aliceblue;
    --mat-datepicker-toggle-icon-color: aliceblue; */

    /* Date Range Picker */
    /* --mdc-filled-text-field-focus-label-text-color: aliceblue;
    --mdc-filled-text-field-active-indicator-color: aliceblue;
    --mdc-filled-text-field-focus-active-indicator-color: aliceblue;
    --mdc-filled-text-field-hover-active-indicator-color: aliceblue;
    --mat-form-field-subscript-text-color: aliceblue; */
  }
  
  .full-width {
    width: 100%;
  }
  
  .chips-container {
    margin: 16px 0;
  }
  
  .actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    /* color: var(--accent-color) */
  }
  
  h3 {
    margin: 0 0 16px 0;
    /* color: aliceblue; */
  }
